*{
	margin: 0;
	padding: 0;
	border: 0;
}


body{
	margin: 0;
}

div.container{
	background-image: url(https://www1.djicdn.com/cms/uploads/150ef84c5f79da0f3cee8788b203e5b9@1x.jpg);
	height: 100vh;
	width: 100%;
	background-position:center ;
	background-size: cover;
}
div.container div.wrapper{
	width: 80%;
	margin: 0 auto;
}
div.container div.header{
	display: flex;
	justify-content: space-between;
	
}
div.container div.header div.left{
	display: flex;
}
div.container div.header div.logo{}
div.container div.header div.logo img{
	height: 26px;
	width: 45px;
	margin-top: 10px;
	padding: 10px;
	cursor: pointer;
}
div.container div.header div.navbar{
	margin-top: 20px;
	cursor: pointer;
}

div.container div.header div.navbar ul{
	display: flex;



}
div.container div.header div.navbar ul li{
	list-style-type: none;
	padding:0 10px;
	color: #fff;
	font-family: "Open Sans","PingFang SC","Microsoft YaHei","Helvetica Neue","Hiragino Sans GB","WenQuanYi Micro Hei",Arial,sans-serif!important;

}
div.right ul.navbar-right{
	display: flex;
	list-style-type: none;
	margin-top: 20px;
	cursor: pointer;
}
div.right ul.navbar-right li{
	padding: 0 10px;
}
div.right ul.navbar-right li.button{
	background-color:#05ecfc;
	color: #fff;
	padding: 5px 10px;
	font-weight: 400px;
	border-radius: 10px;
}	
div.right ul.navbar-right li span{
	display: block;
	height: 26px;
	width: 45px;
}
div.right ul.navbar-right li span.one{
	background-image: url(123.jpg );
	background-position: -221px -553px;
	height: 29px;
	width: 33px;
	border-radius: 10px;
}
div.right ul.navbar-right li span.two{
	background-image: url(123.jpg);
	background-position: -320px -553px;
	height: 29px;
	width: 33px;
	border-radius: 10px;
}
div.banner-text {
	text-align: center;
	padding-top: 80px;
	
}
div.banner-text p.text1{
	font-size: 18px;
	color: #c1c9c7;
	margin: 0;

}
div.banner-text h1.text2{
	color: #fff;
	font-size: 50px;
	margin: 0;
}
div.banner-text p.text3{
	color: #fff;
	font-weight: bold;
	font-size: 25px;
	margin: 0;
}
div.banner-text a{
	text-decoration: none;
	margin-top: 24px;
	display: inline-flex;
}
div.banner-text a.text4{
	border-radius: 64px;
	margin: 0 8px;
	border: 1px solid #fff;
	padding: 5px 16px;
	color: #fff;

}
div.banner-text a.text5{
	border-radius: 64px;
	
	border: 1px solid #fff;
	padding: 5px 16px;
	color: #fff;	
}
div.content{
	display: flex;


}
div.first{
	width: 50%;
	height: 540px;
	background-position: center;
	background-size: cover;
	background-image: url(	https://www1.djicdn.com/cms/uploads/70e091df66d57745608d5c0674ed8a4e.webp);
	margin: 10px;
	text-align: center;
	color: rgba(0,0,0,.45);
		
}
div.first p.para{
	margin-top: 50px;
	margin-bottom: 17px;
	font-size: 17px;
}
div.first img{
	height: 32px;
}
div.first h5{
    font-weight: bold;
    color: rgba(0,0,0,.85);
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
div.first a{
	text-decoration: none;
	color: black;
	padding: 5px;

}
div.second{
	background-image: url(	https://www1.djicdn.com/cms/uploads/7d5b8a55b4aa97569dc31ce10081febc.webp);
	width: 50%;
	height: 540px;
	background-size: cover;
	background-position: center;
	margin: 10px;
	text-align: center;
	color: rgba(0,0,0,.45);
		
}
div.second img{
	height: 32px;
}
div.second h5{
    font-weight: bold;
    color: rgba(0,0,0,.85);
    font-size: 20px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
}
div.second a{
	text-decoration: none;
	color: black;
	padding: 5px;

}
div.second p.para{
	margin-top: 50px;
	font-size: 17px;
	margin-bottom: 17px;

}

div.content1{
	display: flex;

}
div.third{
	background-image: url("https://www1.djicdn.com/cms/uploads/6cbcec2f6e38efdccad35fa1c810e10d.webp");
	width: 50%;
	height: 540px;
	background-size: cover;
	background-position: center;
	margin: 10px;
	text-align: center;
	color: rgba(0,0,0,.45);

		
}
div.third h1{
	height: 32px;
	color: #000000;
	margin: 0 auto;
	font-size: 40px;

}
div.third h5{
    font-weight: bold;
    color: rgba(0,0,0,.85);
    font-size: 20px;
    margin-bottom: 12px;
    margin-top: 20px;
}
div.third a{
	text-decoration: none;
	color: black;
	padding: 5px;

}
div.third p.para{
	
	font-size: 17px;
	margin: 0 auto;
	margin-top: 25px;

}

div.fourth{
	background-image: url("https://www1.djicdn.com/cms/uploads/6cb0fb61e86f41cefb73023b6904115d.webp");
	width: 50%;
	height: 540px;
	background-size: cover;
	background-position: center;
	margin: 10px;
	text-align: center;
	color: rgba(0,0,0,.45);
		
}
div.fourth h1{
	height: 32px;
	color: #000000;
	font-size: 40px;
	margin: 0 auto;
}
div.fourth h5{
    font-weight: bold;
    color: rgba(0,0,0,.85);
    font-size: 20px;
    margin-top: 20px;

  
    margin-bottom: 20px;
}
div.fourth a{
	text-decoration: none;
	color: black;
	padding: 5px;

}
div.fourth p.para{
	
	font-size: 17px;
	margin: 0 auto;
	margin-top: 25px;
}
div.content2{
	margin-top: 30px;
	display: flex;
	justify-content: space-between;
}
div.content2 div.slide{
	width: 10%;
	height: 100vh;
	
}
div.content2 div.slide.two{
	background-image: url(	https://www1.djicdn.com/cms/uploads/d97dc83486731382146791b48998e247.jpg);
	background-size: cover;
	background-position: center;
	width: 77%;
	text-align: center;
	

}
div.content2 div.slide.one{
	background-image: url(	https://www1.djicdn.com/cms/uploads/ba1220c46f6446c56d97a73684125b57.jpg);
}
div.content2 div.slide.three{
	background-image: url(	https://www1.djicdn.com/cms/uploads/366c47dd4ebb77a0274beb5a4fa9f77c.jpg);
}
div.content2 div.slide.two p.para2{
	padding-top: 30px;
}
div.content2 div.slide.two p.para2{
	font-size: 40px;
	font-weight: 700px;
	color: #fff;

	

}
div.content2 div.slide.two h3.heading{
	font-size: 40px;
	color: #fff;
	margin-bottom: 15px;


}
div.content2 div.slide.two a.explore{
	text-decoration: none;
	color: #fff;
	padding: 7px;
	font-size: 18px;

}
 h1.arrow{
	display: flex;
	justify-content: space-between;
	color: #fff;
	padding: 30px;
	margin-top: 180px;
	cursor: pointer;

}

div.content3{
	width: 80%;
	margin: auto;
}
div.content3 div.content{
	
	width: 100%;
	display:flex;
	justify-content: space-between;
}


div.content3 div.asd:hover{
	 transform-origin: 50% 65%;
 	 transition: transform 2s, filter 3s ease-in-out;
	transform: scale(1.1);
	
	

}
div.content3 div.asd1{
	width: 32%;
	overflow: hidden;
	position: relative;	

}

div.content3 div.asd{
	width: 100%;
	height: 520px;
	background-position: center;
	background-size: cover;
	
}
div.content3 div.content div.pic1{
	background-image: url(	https://www1.djicdn.com/cms/uploads/1d8a7fa646e04a1fe8f363b28916e8e3.webp);

}
div.content3 div.content div.pic2{
	background-image: url(	https://www1.djicdn.com/cms/uploads/bccdb5d218eb2c32dccb5c88babc7679.webp);
}
div.content3 div.content div.pic3{
	background-image: url(https://www1.djicdn.com/cms/uploads/6014fa854ddc342d18b1f95831e12a2e.webp);
	
}
div.content3 h1{
	text-align: center;
	font-size: 40px;
	margin-top: 50px;
	margin-bottom: 50px;

}

div.para3{
	text-align: center;
	color: #fff;
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 30px;
}
div.para3 h2{
	margin-top: 40px;
	margin-bottom: 20px;
	font-size: 35px	;
}
div.para3 p{
	margin-bottom: 15px;
	font-size: 17px	;
}
div.para3 a{
	text-decoration: none;
	color: #fff;
	font-size: 20px;
}
section.service{
	padding: 64px 250px;
	margin-top: 64px;
	background-color: #f7f9fa;
	text-align: center;

}
section.service div.content{
	width: 1092px;
	margin: auto;

}
section.service div.contents div.services{
	display: flex;
	justify-content: space-between;

	
}
section.service div.content div.services div.service-module{



}
section.service div.content div.services div.service-module{
	
}

div.service-module img{
	width: 100%;
	height: 74px;
		
	
	
}
div.service-module div.title{
	font-size: 24px;
	line-height: 36px;
	color: rgba(0,0,0,.85);
    margin-top: 16px;
    font-weight: bold;
    margin-bottom: 20px;
}
div.service-module a{
	text-decoration: none;
	color: rgba(0,0,0,.85);
	font-size: 16px;
	
}
footer.footer-site{
	background: #272727;
	padding: 72px 128px;
}
footer.footer-site div.grid{
	width: 100%;
	margin: 0 auto;
}
footer.footer-site div.grid div.category{
	margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
   

}
footer.footer-site div.grid div.category div.grid-list{
	margin: 0;
    display: flex;
	justify-content: space-between;

}
footer.footer-site div.grid div.category div.grid-list div.footer-item{
    
}

div.footer-item{
	width: 221px;
}
div.footer-item p.title{
	color: #fff;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 24px;
	font-weight: 500px;
}
div.footer-item ul.footer-colum{
	list-style-type: none;
	margin-bottom: 24px;
}
div.footer-item div.subscribe input{

    font-size: 14px;
    color: #6c7073;
    height: 32px;
    width: 189px;
    background: 0 0;
    border: 1px solid #6c7073;
    outline: none;
    padding: 4px 0 4px 12px;
    border-right: none;
    border-radius: 4px 0 0 4px;
	
}



div.footer-item ul.footer-colum li{
	margin-bottom: 8px;
	font-size: 12px;
	color: #9fa3a6;
	line-height: 24px;
}
div.footer-about{
	/*display: flex;
	justify-content: space-between;*/
	border-bottom: 1px solid #6c7073;

}
div.footer-about div.footer-nav{
	display: flex;
	justify-content: space-between;
}
div.footer-about div.footer-nav p{
	width: 42px;
	height: 24px;
	margin-right: 20px;
	color: #fff;
}
div.footer-about div.footer-nav ul.navbar-right{
	display: flex;
	width: 70%;
	list-style-type: none;
	font-size: 14px;


}
div.footer-about div.footer-nav ul.navbar-right li{
	padding: 0 12px;
	height: 24px;
	color: #9fa3a6;
}

div.footer-about ul.social{
	display: flex;
	list-style-type: none;
	width: 30%;
	justify-content: flex-end;


}
div.footer-about ul.social li.list{
	display: flex;
	padding-left: 10px;
	color: #6c7073;
}
div.footer-about ul.social li.list a{
	
}
div.footer-about ul.social li a img{

}
div.bottom{
	color: #6c7073;
	font-size: 12px;
	justify-content: space-between;
	padding: 16px 0 0;
}
div.bottom div.legal{
	display: flex;
	justify-content: space-between;
	line-height: 24px;
}
div.bottom div.legal ul.legal-links{
	display: flex;
	list-style-type: none;
}
div.bottom div.legal ul.legal-links li{
	padding-left: 10px;
	justify-content: space-between;
}

div.bottom div.legal div.country{
	display: flex;
	height: 24px;
	padding: 0 8px;
}
div.bottom div.legal div.country img{

}
div.bottom div.legal div.country p{
	padding-left: 10px;
}

@media all and (max-width: 1280px){
	
}@media all and (max-width: 980px){
	
}@media all and (max-width: 768px){
	div.container div.header div.navbar ul li{
		font-size: 10px;
	}
	div.third h1{
		font-size: 30px;
	}
	div.third h5 {
		font-size: 18px;
	}
	div.fourth h1{
		font-size: 30px;
	}
	div.para3 h2{
		font-size: 18px;
	}
	div.para3 p{
		font-size: 9px;
	}
	
	div.service-module div.title{
		font-size: 15px;
	}
	div.service-module a{
		font-size: 14px;
	}


}
@media all and (max-width: 640px){

}
